// background colors
$bg-gray: #f7f7f7;
$bg-white: #ffffff;


$white: #ffffff;
$black: #000;



// text color
$text-black: #010103;
$btn-black: #161616;
$text-gray: #706f7b;






// text color
$text-primary: #3d37a6;
$text-primary-dark: #2e2895;
$text-primary-shadow: #231e86a3(180, 9, 9, 0.35);
$text-primary-shadow-dark: #140f70a3(180, 9, 9, 0.6);

